* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 1600px) {
  html {
    font-size: 20px; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.col-1 {
  width: 20%; }

.col-2 {
  width: 40%; }

.col-3 {
  width: 60%; }

.col-4 {
  width: 80%; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.alg-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end; }

h1 {
  position: absolute;
  left: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all; }

p {
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
  color: #201a19; }

.btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  height: 40px;
  width: 160px;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  opacity: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  color: #d83f2d;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .3s .1s all;
  -o-transition: .3s .1s all;
  transition: .3s .1s all; }
  .btn::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 3px;
    display: block;
    height: calc(100% - 6px);
    width: 0;
    border-radius: 2px;
    background-color: #201a19;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }
  .btn:hover::after {
    width: calc(100% - 6px);
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all; }

section {
  position: relative; }
  section .mouse-scroll {
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    height: 40px;
    width: 30px;
    opacity: 1;
    background-image: url(img/mouse.svg);
    background-position: center center;
    background-size: cover;
    -webkit-transition: .2s .3s all;
    -o-transition: .2s .3s all;
    transition: .2s .3s all;
    -webkit-animation: anm .8s infinite alternate;
            animation: anm .8s infinite alternate; }
  section .wrapper-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: .9s .05s all;
    -o-transition: .9s .05s all;
    transition: .9s .05s all; }
    section .wrapper-menu .circle {
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 300;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      -webkit-transform: translateX(calc(-50% + 20px)) translateY(calc(-50% + 17px));
          -ms-transform: translateX(calc(-50% + 20px)) translateY(calc(-50% + 17px));
              transform: translateX(calc(-50% + 20px)) translateY(calc(-50% + 17px));
      background-color: #201a19;
      -webkit-transition: .6s .3s all;
      -o-transition: .6s .3s all;
      transition: .6s .3s all; }
    section .wrapper-menu .bg-img {
      position: relative;
      z-index: 400;
      opacity: 0;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      background-image: url(img/1.jpeg);
      background-position: center center;
      background-size: cover;
      -webkit-transition: .3s .3s all;
      -o-transition: .3s .3s all;
      transition: .3s .3s all;
      -webkit-box-shadow: -1px 7px 44px -10px rgba(0, 0, 0, 0.75);
              box-shadow: -1px 7px 44px -10px rgba(0, 0, 0, 0.75); }
    section .wrapper-menu ul {
      position: relative;
      z-index: 400;
      list-style: none; }
      section .wrapper-menu ul li {
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 2rem;
        position: relative;
        margin-bottom: 1.5rem;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        opacity: 0;
        -webkit-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
        section .wrapper-menu ul li a {
          position: relative;
          color: #fff;
          text-decoration: none; }
          section .wrapper-menu ul li a::after {
            content: "";
            z-index: -1;
            position: absolute;
            left: -10px;
            top: 0;
            height: 100%;
            width: 0;
            background-color: #d83f2d;
            -webkit-transition: .5s all;
            -o-transition: .5s all;
            transition: .5s all; }
          section .wrapper-menu ul li a:hover::after {
            width: calc(100% + 20px);
            -webkit-transition: .3s all;
            -o-transition: .3s all;
            transition: .3s all; }
        section .wrapper-menu ul li:nth-child(1) {
          -webkit-transition-delay: .5s;
               -o-transition-delay: .5s;
                  transition-delay: .5s; }
        section .wrapper-menu ul li:nth-child(2) {
          -webkit-transition-delay: .4s;
               -o-transition-delay: .4s;
                  transition-delay: .4s; }
        section .wrapper-menu ul li:nth-child(3) {
          -webkit-transition-delay: .3s;
               -o-transition-delay: .3s;
                  transition-delay: .3s; }
        section .wrapper-menu ul li:nth-child(4) {
          -webkit-transition-delay: .2s;
               -o-transition-delay: .2s;
                  transition-delay: .2s; }
        section .wrapper-menu ul li:nth-child(5) {
          -webkit-transition-delay: .1s;
               -o-transition-delay: .1s;
                  transition-delay: .1s;
          margin-bottom: 0; }
    section .wrapper-menu[data-menu="open"] {
      z-index: 400; }
      section .wrapper-menu[data-menu="open"] .circle {
        height: 300vw;
        width: 300vw;
        -webkit-transition: 1s all;
        -o-transition: 1s all;
        transition: 1s all; }
      section .wrapper-menu[data-menu="open"] li {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
        -webkit-transition: .4s all;
        -o-transition: .4s all;
        transition: .4s all; }
        section .wrapper-menu[data-menu="open"] li:nth-child(1) {
          -webkit-transition-delay: .1s;
               -o-transition-delay: .1s;
                  transition-delay: .1s; }
        section .wrapper-menu[data-menu="open"] li:nth-child(2) {
          -webkit-transition-delay: .2s;
               -o-transition-delay: .2s;
                  transition-delay: .2s; }
        section .wrapper-menu[data-menu="open"] li:nth-child(3) {
          -webkit-transition-delay: .3s;
               -o-transition-delay: .3s;
                  transition-delay: .3s; }
        section .wrapper-menu[data-menu="open"] li:nth-child(4) {
          -webkit-transition-delay: .4s;
               -o-transition-delay: .4s;
                  transition-delay: .4s; }
        section .wrapper-menu[data-menu="open"] li:nth-child(5) {
          -webkit-transition-delay: .5s;
               -o-transition-delay: .5s;
                  transition-delay: .5s; }
      section .wrapper-menu[data-menu="open"] .bg-img {
        opacity: 1;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition: .4s .3s all;
        -o-transition: .4s .3s all;
        transition: .4s .3s all; }
  section .titles {
    position: absolute;
    left: 10vw;
    top: 120px;
    margin-left: -1px;
    height: 7rem;
    width: 60vw;
    color: #201a19;
    overflow: hidden; }
    section .titles::before {
      content: 'Project';
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: light;
      -webkit-transform: translateX(calc(-100% - 10px)) translateY(100%);
          -ms-transform: translateX(calc(-100% - 10px)) translateY(100%);
              transform: translateX(calc(-100% - 10px)) translateY(100%); }
  section .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 7rem; }
  section .img {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }
  section .wrapper-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-color: #b2b2b0; }
    section .wrapper-open .menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      section .wrapper-open .menu .btn-menu {
        position: relative;
        z-index: 400;
        display: block;
        height: 35px;
        width: 40px;
        cursor: pointer; }
        section .wrapper-open .menu .btn-menu span {
          display: block;
          height: 4px;
          width: 35px;
          background-color: #d83f2d;
          border-radius: 1px;
          -webkit-transition: .3s .6s all;
          -o-transition: .3s .6s all;
          transition: .3s .6s all; }
          section .wrapper-open .menu .btn-menu span:nth-child(2) {
            margin: 7px 0;
            -webkit-transform: translateX(-5px);
                -ms-transform: translateX(-5px);
                    transform: translateX(-5px);
            opacity: 1; }
        section .wrapper-open .menu .btn-menu:hover span {
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all; }
          section .wrapper-open .menu .btn-menu:hover span:nth-child(1) {
            -webkit-transform: translateX(7px);
                -ms-transform: translateX(7px);
                    transform: translateX(7px); }
          section .wrapper-open .menu .btn-menu:hover span:nth-child(2) {
            -webkit-transform: translateX(-10px);
                -ms-transform: translateX(-10px);
                    transform: translateX(-10px); }
          section .wrapper-open .menu .btn-menu:hover span:nth-child(3) {
            -webkit-transform: translateX(5px);
                -ms-transform: translateX(5px);
                    transform: translateX(5px); }
        section .wrapper-open .menu .btn-menu[data-menu="open"] span {
          width: 31px;
          -webkit-transition: .3s all;
          -o-transition: .3s all;
          transition: .3s all; }
          section .wrapper-open .menu .btn-menu[data-menu="open"] span:nth-child(1) {
            -webkit-transition-delay: .2s;
                 -o-transition-delay: .2s;
                    transition-delay: .2s;
            -webkit-transform: translateX(0) rotate(45deg);
                -ms-transform: translateX(0) rotate(45deg);
                    transform: translateX(0) rotate(45deg);
            -webkit-transform-origin: center left;
                -ms-transform-origin: center left;
                    transform-origin: center left; }
          section .wrapper-open .menu .btn-menu[data-menu="open"] span:nth-child(2) {
            opacity: 0;
            -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                    transform: translateX(0);
            margin: 7px 0; }
          section .wrapper-open .menu .btn-menu[data-menu="open"] span:nth-child(3) {
            -webkit-transition-delay: .2s;
                 -o-transition-delay: .2s;
                    transition-delay: .2s;
            -webkit-transform: translateX(0) rotate(-45deg);
                -ms-transform: translateX(0) rotate(-45deg);
                    transform: translateX(0) rotate(-45deg);
            -webkit-transform-origin: center left;
                -ms-transform-origin: center left;
                    transform-origin: center left; }
    section .wrapper-open p {
      opacity: 0;
      -webkit-transform: translateX(50%);
          -ms-transform: translateX(50%);
              transform: translateX(50%);
      -webkit-transition: .4s all;
      -o-transition: .4s all;
      transition: .4s all;
      margin-top: 3.5rem; }
    section .wrapper-open .end {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    section .wrapper-open .btn-open,
    section .wrapper-open .btn-close {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: 700;
      position: relative;
      z-index: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px;
      margin: 40px 0;
      cursor: pointer;
      color: #201a19;
      -webkit-transition: .2s all;
      -o-transition: .2s all;
      transition: .2s all; }
    section .wrapper-open .btn-open::after {
      content: "";
      position: absolute;
      bottom: 7px;
      left: 10px;
      display: block;
      height: 3px;
      width: 15px;
      background-color: #d83f2d;
      -webkit-transition: .2s .1s width, .3s .2s height;
      -o-transition: .2s .1s width, .3s .2s height;
      transition: .2s .1s width, .3s .2s height; }
    section .wrapper-open .btn-open:hover::after {
      height: 3px;
      width: 50%;
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all; }
    section .wrapper-open .btn-close {
      margin-left: -10px; }
      section .wrapper-open .btn-close::after {
        content: "";
        position: absolute;
        left: 4px;
        bottom: 10px;
        display: block;
        height: 0;
        width: 4px;
        background-color: #d83f2d;
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all; }
      section .wrapper-open .btn-close:hover::after {
        height: calc(100% - 20px);
        -webkit-transition: .2s all;
        -o-transition: .2s all;
        transition: .2s all; }
  section .wrapper-close {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    width: 70%;
    overflow: hidden;
    -webkit-transition: .5s .2s all ease;
    -o-transition: .5s .2s all ease;
    transition: .5s .2s all ease; }
    section .wrapper-close .img:nth-child(2) {
      background-image: url(../img/_1.jpg);
      background-position: center center;
      background-size: cover; }
    section .wrapper-close .img:nth-child(3) {
      background-image: url(../img/_2.jpg);
      background-position: center center;
      background-size: cover; }
    section .wrapper-close .img:nth-child(4) {
      background-image: url(../img/_3.jpg);
      background-position: center center;
      background-size: cover; }
    section .wrapper-close .img:nth-child(5) {
      background-image: url(../img/_4.jpg);
      background-position: center center;
      background-size: cover; }
    section .wrapper-close .titles {
      z-index: 10;
      color: #fbfbf8; }
  section .box-sliders {
    position: absolute;
    z-index: 10;
    right: 30%;
    top: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(20vw * 1.2);
    width: 20vw;
    overflow: hidden;
    -webkit-box-shadow: -1px 7px 44px -10px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 7px 44px -10px rgba(0, 0, 0, 0.75);
    -webkit-transform: translateX(50%) translateY(-50%);
        -ms-transform: translateX(50%) translateY(-50%);
            transform: translateX(50%) translateY(-50%);
    -webkit-transition: .5s .2s all ease;
    -o-transition: .5s .2s all ease;
    transition: .5s .2s all ease; }
    section .box-sliders .img:nth-child(1) {
      background-image: url(img/1.jpeg);
      background-position: center center;
      background-size: cover; }
    section .box-sliders .img:nth-child(2) {
      background-image: url(img/2.jpeg);
      background-position: center center;
      background-size: cover; }
    section .box-sliders .img:nth-child(3) {
      background-image: url(img/3.jpeg);
      background-position: center center;
      background-size: cover; }
    section .box-sliders .img:nth-child(4) {
      background-image: url(img/4.jpeg);
      background-position: center center;
      background-size: cover; }
  section .number-sliders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
    width: 25px;
    position: fixed;
    top: 50%;
    right: 0;
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-30px);
        -ms-transform: translateY(-50%) translateX(-30px);
            transform: translateY(-50%) translateX(-30px);
    -webkit-transition: .4s .2s all;
    -o-transition: .4s .2s all;
    transition: .4s .2s all; }
    section .number-sliders span {
      display: block;
      height: 10px;
      width: 10px;
      border: 2px solid #916b64;
      border-radius: 50%;
      margin-bottom: 15px;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-transition: .6s all;
      -o-transition: .6s all;
      transition: .6s all; }
      section .number-sliders span.active {
        -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
                transform: scale(1.5);
        border: 0 solid #916b64;
        background-color: #916b64;
        -webkit-transition: .6s all;
        -o-transition: .6s all;
        transition: .6s all; }
  section[data-view="open"] .btn-open {
    opacity: 0; }
  section[data-view="open"] .wrapper-close {
    width: 0;
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease; }
  section[data-view="open"] .box-sliders {
    width: 0;
    -webkit-transform: translateX(calc(-30vw / 2)) translateY(-50%);
        -ms-transform: translateX(calc(-30vw / 2)) translateY(-50%);
            transform: translateX(calc(-30vw / 2)) translateY(-50%);
    -webkit-transition: .6s all ease;
    -o-transition: .6s all ease;
    transition: .6s all ease; }
  section[data-view="open"] p {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .4s .2s all;
    -o-transition: .4s .2s all;
    transition: .4s .2s all; }
  section[data-view="open"] .btn {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: .4s .3s all;
    -o-transition: .4s .3s all;
    transition: .4s .3s all; }
  section[data-view="open"] .number-sliders {
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(100%);
        -ms-transform: translateY(-50%) translateX(100%);
            transform: translateY(-50%) translateX(100%);
    -webkit-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all; }
  section[data-view="open"] .btn-open {
    opacity: 0;
    -webkit-transition: .2s .3s all;
    -o-transition: .2s .3s all;
    transition: .2s .3s all; }
    section[data-view="open"] .btn-open::after {
      height: 25px;
      width: calc(100% - 20px);
      -webkit-transition: .2s height, .2s .2s width;
      -o-transition: .2s height, .2s .2s width;
      transition: .2s height, .2s .2s width; }
    section[data-view="open"] .btn-open:hover::after {
      height: 24px;
      width: calc(100% - 19px);
      -webkit-transition: .2s height, .2s .2s width;
      -o-transition: .2s height, .2s .2s width;
      transition: .2s height, .2s .2s width; }
  section[data-view="open"] .mouse-scroll {
    opacity: 0;
    -webkit-transition: .2s .1s all;
    -o-transition: .2s .1s all;
    transition: .2s .1s all; }

@-webkit-keyframes anm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes anm {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }
