@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

section {
  position: relative;
  overflow: hidden; }
  section span {
    outline: none;
    position: absolute;
    z-index: 0;
    font-family: 'Ubuntu';
    font-size: 12rem;
    font-weight: 700; }

button {
  outline: none !important;
  cursor: pointer; }

h1 {
  font-family: 'Ubuntu';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
  margin-bottom: 24px;
  color: #BCBAB3; }

h2 {
  font-family: 'Ubuntu';
  color: #BCBAB3; }

h3 {
  font-family: 'Ubuntu';
  font-weight: normal;
  color: #BCBAB3; }

h5 {
  font-family: 'Merriweather';
  font-weight: 200;
  color: #BCBAB3; }

p {
  font-family: 'Merriweather';
  font-size: 0.95rem;
  line-height: 1.6rem;
  margin-bottom: 12px;
  color: #BCBAB3; }

.no-padding {
  padding: 0; }

@-webkit-keyframes show {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes show {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes up {
  0% {
    top: -4.6875rem; }
  100% {
    top: 0; } }

@keyframes up {
  0% {
    top: -4.6875rem; }
  100% {
    top: 0; } }

header .content {
  position: relative;
  height: 100vh;
  max-height: 800px;
  background-color: black;
  overflow: hidden; }
  header .content .sliders {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -100%; }
    header .content .sliders .header--text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 100vh;
      max-height: 800px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-top: 4.6875rem;
      opacity: 0;
      -webkit-transform: translateY(-200px);
          -ms-transform: translateY(-200px);
              transform: translateY(-200px); }
  header .content .slider-1 {
    background-image: url(../img/slide-1.jpg);
    background-size: cover;
    background-position: center center; }
  header .content .slider-2 {
    background-image: url(../img/slide-2.jpg);
    background-size: cover;
    background-position: center center; }
  header .content .slider-3 {
    background-image: url(../img/slide-3.jpeg);
    background-size: cover;
    background-position: center center; }
  header .content .slider-4 {
    background-image: url(../img/slide-4.jpeg);
    background-size: cover;
    background-position: center center; }
  header .content .sliders.active--sld {
    left: 0;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s; }
    header .content .sliders.active--sld .header--text {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      -webkit-transition: all .5s .4s;
      -o-transition: all .5s .4s;
      transition: all .5s .4s; }
  header .content .sliders.hide--sld {
    left: 100%;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s; }
    header .content .sliders.hide--sld .header--text {
      opacity: 0;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
  header .content nav {
    position: relative;
    z-index: 20000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 4.6875rem;
    background-color: #242423; }
    header .content nav .nav--box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .content nav .nav--box .logo {
        font-size: 1.5rem;
        font-family: 'Ubuntu';
        font-weight: 700;
        color: #EB5E28; }
        header .content nav .nav--box .logo span {
          font-weight: normal;
          color: #FFFCF2; }
      header .content nav .nav--box #menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .content nav .nav--box #menu ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          list-style: none;
          margin: 0; }
          header .content nav .nav--box #menu ul a {
            position: relative;
            font-family: 'Ubuntu';
            font-weight: bold;
            font-size: 0.875rem;
            text-transform: uppercase;
            letter-spacing: 0.25rem;
            color: #FFFCF2;
            margin: 0 40px;
            text-decoration: none; }
            header .content nav .nav--box #menu ul a:last-child {
              margin-right: 0; }
            header .content nav .nav--box #menu ul a::before {
              position: absolute;
              top: 50%;
              left: -5px;
              z-index: -1;
              content: '';
              display: block;
              height: 10px;
              width: 0;
              background-color: #EB5E28;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s; }
            header .content nav .nav--box #menu ul a:hover::before {
              width: 70%;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s; }
        header .content nav .nav--box #menu button.menu--btn {
          display: none;
          background-color: rgba(0, 0, 0, 0);
          border-style: none; }
          header .content nav .nav--box #menu button.menu--btn span {
            display: block;
            height: 2px;
            width: 30px;
            background-color: lightgray;
            margin-bottom: 6px; }
            header .content nav .nav--box #menu button.menu--btn span:last-child {
              margin-bottom: 0; }
      header .content nav .nav--box #menu.show ul {
        height: auto;
        opacity: 1;
        height: 400px;
        padding: 40px 60px;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s; }
        header .content nav .nav--box #menu.show ul li {
          display: block;
          opacity: 1;
          margin-bottom: 30px;
          -webkit-transition: all .5s .3s;
          -o-transition: all .5s .3s;
          transition: all .5s .3s; }
          header .content nav .nav--box #menu.show ul li:last-child {
            margin-bottom: 0; }
      header .content nav .nav--box #menu.show button.menu--btn span:nth-child(1) {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-bottom: -2px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      header .content nav .nav--box #menu.show button.menu--btn span:nth-child(2) {
        display: none; }
      header .content nav .nav--box #menu.show button.menu--btn span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
  header .content nav.fixed {
    position: fixed;
    left: 0;
    rigth: 0;
    -webkit-animation: up 0.3s;
            animation: up 0.3s;
    background-color: rgba(37, 36, 34, 0.9); }
  header .content .sliders--btns {
    position: absolute;
    bottom: 40px;
    right: 15px; }
    header .content .sliders--btns button.sliders--btn {
      background-color: #403D39;
      font-family: arial;
      color: #CCC5B9;
      text-transform: uppercase;
      font-size: 1.125rem;
      font-weight: 700;
      border-style: none;
      padding: 15px 25px; }
  header .content a.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #403D39;
    color: #CCC5B9;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 160px;
    margin: 40px 0; }
  header .content .side--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    height: 100vh;
    max-height: 800px;
    width: 4.6875rem;
    background-color: #242423; }
    header .content .side--social span {
      height: 25vh;
      width: 3px;
      background-color: #AD9769;
      margin-bottom: 20px; }
    header .content .side--social i {
      color: #AD9769;
      font-size: 1.3rem;
      margin-bottom: 20px; }
  header .content .no-margin {
    margin: 0; }

section.about {
  background-color: #242423;
  padding: 75px 0; }
  section.about span {
    top: -50px;
    rigth: 50%;
    color: #282725; }
  section.about .about--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 75px; }
  section.about .about--text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%; }
    section.about .about--text h2 {
      text-transform: lowercase;
      font-size: 2rem;
      margin-bottom: 1.5rem; }
  section.about .about--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section.about .about--img .img {
      display: block;
      height: 350px;
      width: 100%;
      max-width: 400px;
      background-image: url(../img/about-bg.jpeg);
      background-size: cover;
      background-position: center center; }

section.projects {
  padding-bottom: 75px;
  padding-top: 75px;
  background-color: #403D39; }
  section.projects span {
    top: -50px;
    left: 50%;
    color: #3D3A36; }
  section.projects .btn,
  section.projects .btn--project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 160px;
    border-radius: 3px;
    font-size: 1rem;
    font-family: 'Merriwether';
    text-transform: uppercase;
    color: white;
    background-color: #252422; }
  section.projects button.btn--project {
    border: none;
    margin-top: 75px; }
  section.projects h1 {
    position: relative;
    z-index: 100;
    margin-bottom: 75px; }
  section.projects .project.no-display {
    display: none; }
  section.projects .project.display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: show 0.5s;
            animation: show 0.5s; }
  section.projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #211D14;
    position: relative;
    overflow: hidden;
    height: 450px;
    padding: 50px 40px;
    color: white; }
    section.projects .project .border {
      position: absolute;
      display: block;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      border: 4px solid #AD9769;
      z-index: 1000; }
    section.projects .project .img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-position: top center;
      background-size: cover;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      opacity: 0.6;
      -webkit-transition: opacity 0.5s,  -webkit-transform 0.5s;
      transition: opacity 0.5s,  -webkit-transform 0.5s;
      -o-transition: opacity 0.5s,  transform 0.5s;
      transition: opacity 0.5s,  transform 0.5s;
      transition: opacity 0.5s,  transform 0.5s,  -webkit-transform 0.5s; }
    section.projects .project h3 {
      font-family: 'Ubuntu';
      font-weight: normal;
      font-size: 1.2rem;
      line-height: 2rem;
      text-transform: uppercase;
      text-align: center;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    section.projects .project h4 {
      position: relative;
      z-index: 1;
      font-family: 'Merriwether';
      font-weight: normal;
      font-size: 0.85rem;
      text-transform: uppercase;
      -ms-flex-item-align: center;
          align-self: center;
      opacity: 1;
      letter-spacing: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    section.projects .project a.btn {
      z-index: 2000;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: calc(50% - 75px);
      -webkit-transform: scale(0.4);
          -ms-transform: scale(0.4);
              transform: scale(0.4);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    section.projects .project:hover .img {
      -webkit-transform: scale(2);
          -ms-transform: scale(2);
              transform: scale(2);
      opacity: 0.9;
      -webkit-transition: opacity 0.5s, -webkit-transform 7s;
      transition: opacity 0.5s, -webkit-transform 7s;
      -o-transition: opacity 0.5s, transform 7s;
      transition: opacity 0.5s, transform 7s;
      transition: opacity 0.5s, transform 7s, -webkit-transform 7s; }
    section.projects .project:hover h3 {
      -webkit-transform: translateY(-30px);
          -ms-transform: translateY(-30px);
              transform: translateY(-30px);
      opacity: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    section.projects .project:hover h4 {
      letter-spacing: 10px;
      opacity: 0;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
    section.projects .project:hover a.btn {
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

section.designers {
  padding: 75px 0;
  background-color: #242423; }
  section.designers span {
    top: -50px;
    right: 50%;
    color: #282725; }
  section.designers .designers--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 75px; }
    section.designers .designers--title h1 {
      margin: 0; }
  section.designers .designers > .col-10:nth-child(odd) {
    margin-top: 100px; }
  section.designers .designer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    section.designers .designer .img--designer {
      display: block;
      background-position: top center;
      background-size: cover;
      -webkit-box-shadow: 0px 0px 70px -25px black;
              box-shadow: 0px 0px 70px -25px black;
      width: 100%;
      height: 400px; }
    section.designers .designer--info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 220px;
      width: 100%;
      padding: 0 20px;
      border: 3px solid #AD9769;
      margin: 20px 15px 0 15px; }
      section.designers .designer--info h2 {
        margin-bottom: 1rem; }
      section.designers .designer--info h5 {
        letter-spacing: 0.3rem; }

section.contact {
  padding: 75px 0;
  background-color: #242423; }
  section.contact span {
    top: -50px;
    left: 50%;
    color: #282725; }
  section.contact .contacts--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 51px; }
  section.contact .contacts--info {
    padding-top: 32px; }
    section.contact .contacts--info .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 15px; }
      section.contact .contacts--info .box i {
        margin-right: 20px;
        font-size: 1.5rem;
        color: #BCBAB3; }
      section.contact .contacts--info .box h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: normal; }
  section.contact .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section.contact .wrapper .contacts--form {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      max-width: 600px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      section.contact .wrapper .contacts--form .form--wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        section.contact .wrapper .contacts--form .form--wrapper .form--box {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-right: 20px; }
          section.contact .wrapper .contacts--form .form--wrapper .form--box:last-child {
            margin-right: 0; }
      section.contact .wrapper .contacts--form .form--control {
        font-family: 'Merriwether';
        font-size: 1rem;
        border: 0;
        border-radius: 3px;
        padding: 8px 20px;
        margin-bottom: 15px;
        background-color: #AD9769;
        color: white; }
        section.contact .wrapper .contacts--form .form--control:nth-child(3) {
          resize: none;
          height: 150px; }
      section.contact .wrapper .contacts--form .send--btn {
        margin-top: 20px;
        -ms-flex-item-align: end;
            align-self: flex-end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: none;
        border-radius: 3px;
        height: 40px;
        width: 160px;
        text-transform: uppercase;
        background-color: #403D39;
        color: #CCC5B9; }

footer {
  padding: 45px 0;
  background-color: #242423;
  color: #FFFCF2; }
  footer .start,
  footer .center,
  footer .end {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  footer .start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    footer .start .logo {
      font-size: 2rem;
      font-family: 'Ubuntu';
      font-weight: 700;
      color: #EB5E28; }
      footer .start .logo span {
        font-weight: normal;
        color: #FFFCF2; }
  footer .center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  footer .end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

@media (max-width: 570px) {
  html {
    font-size: 12px; }
  header .content .sliders--btns {
    bottom: 0;
    right: 0; }
  header .content nav .nav--box #menu ul {
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 48px;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0;
    background-color: #AD9769;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    header .content nav .nav--box #menu ul li {
      display: none;
      opacity: 0;
      margin-bottom: 30px; }
      header .content nav .nav--box #menu ul li:last-child {
        margin-bottom: 0; }
  header .content nav .nav--box #menu button.menu--btn {
    display: block; }
    header .content nav .nav--box #menu button.menu--btn span {
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
  section.about span {
    left: -100px;
    top: -40px; }
  section.projects span {
    right: -300px; } }

@media (max-width: 767px) {
  html {
    font-size: 14px; }
  section.designers .designers > .col-10:nth-child(odd) {
    margin-top: 0; }
  section.designers .designers > .col-10 {
    margin-bottom: 40px; }
    section.designers .designers > .col-10:last-child {
      margin-bottom: 0; } }

@media (max-width: 987px) {
  section.contact .wrapper form.contacts--form .form--wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    section.contact .wrapper form.contacts--form .form--wrapper .form--box {
      margin-right: 0; } }
